$main_textcolor:#00994e;
$main_textcolor:#00994e;
a.link_g, a.link_g:active, a.link_g:hover, a.link_g:visited, a.link_g:focus{
  color: #00994e;
  text-decoration: underline;
}
.main_textcolor{color:$main_textcolor!important;}
.green_span{color:$main_textcolor!important;}
.orange_span{color:#ff7313 !important;}
.red_span{color:#e70839!important;}
a.link_gf20{
  color: #00994e;
  text-decoration: underline;
  font-size: 20px;
}
.text_center{
  text-align:center; 
}
.m_50{
  margin:40px 0; 
}
.mb_30{
  margin-bottom:30px; 
}
.mb_20{
  margin-bottom:20px; 
}
.pl_40{
  padding-left:40px; 
}
.mt_0{
  top: 0;
}