.bg_white{
  background: url(../images/whiteBg.png);
  width: 100%;
  height: 320px;
  position: absolute;
  bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      @include rwd-max-width(960px){
        background-size: contain;
            background-size: cover;
       
            background-position: bottom;
      }
}
// evaTabs
.evaTabs{
  margin-top:40px;
  z-index: 2;
  position: relative;
    @include rwd-max-width(640px) {
      padding: 0px;
      margin-top:0px;
    }
  .nav-tabs{
    padding:0px 20px;
    border-bottom: 3px solid #00994e;
    .nav-item {
      width: 50%;
      text-align: center;
       a {
         color: #333;
       }
    }
  } 
  .tab-pane{
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
    @include rwd-max-width(640px){
      padding:  20px;
      box-shadow: none;
    }
   
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active{
    background-color: #00994e;
    color:#fff;
    border-color: transparent;
  }
  .nav-tabs .nav-link{
    background-color: #e2e2e2;
   
  }
  .actionArea{
    float:none;
    padding-top:40px;
    padding-bottom: 20px;
  }
  // 表格物件
  .formItem {
    width: 100%;
    padding: 3px 20px;
    position: relative;
      @include rwd-max-width(640px) {
        padding: 3px 0px;
      }
  }
  .flexSpaceBetween{
     @include rwd-max-width(960px) {
       width: 100%;
       display: inline-block;
     }
  }
  .half {
    width: 50%;
    flex-basis: 50%;
    padding: 13px 0px;
    @include rwd-max-width(960px){
      width: 100%;
      flex-basis: 100%;
    }
  }
  .orderByTitle {

    color: #00994e;
    font-size: 16px;
    padding: 0px 0px;
    width: 100px;

      @include rwd-max-width(960px) {
        color:#333;
      }
  }
  .orderBy{
    .transformSelect{
    width: 250px;
    }
    
  }
}
// evaTabs end

.p-fixed {
  position: fixed;
}
th{
  font-size: 14px;
  font-weight: bold;
}
td.textCenter {

  word-break: break-all;
  white-space: normal !important;
  font-size: 14px;
  max-width: 150px;
  vertical-align: middle;
}
td.textLeft{
  text-align: left;
  @include rwd-max-width(960px){
    text-align: center;
  }
}

.table-even tbody tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

.table-wrapper thead {
  background-color: #f9fbf7;
}

.borderBtn{
  border-radius: 12.5px;
  border: solid 1px #00994e;
  color:#00994e;
   width: 50px;
  font-size: 14px;;
   margin:6px auto 0px;
   padding: 2px;;
   cursor: pointer;
   &:hover{
     color:#fff;
     background-color: #00994e;
   }
}

.orderResult{
  position: relative;
  left:25px;
  margin:3px 5px;
  &:before{
    content:'';
    position: absolute;
    left:-35px;
    top:-3px;
   background-repeat:no-repeat ;
  width: 30px;
  height: 30px;
   @media (max-width: 960px) {
     left: -30px;
     top: 10px;
   }
  }
 
}
.orderTd.textCenter {
  text-align: left;
     @media (max-width: 960px) {
       text-align: center;
     }
}
.orderResultSuccess{
   &:before {
   background-image:url(../images/order_success.png);
   }
}
.orderResultFail {
   &:before {
  background-image: url(../images/order_fail.png);
   }
}
.orderResultCheck {
   &:before {
  background-image: url(../images/order_checking.png);
   }
}
.orderResultDelete {
  &:before {
    background-image: url(../images/delete.png);
  }
}
.remark{
  font-size: 12px;
}
.cGreen{
  color:#00994e;
}
.modal-login-width{
  max-width: 500px;
  .pd50{
    padding: 30px 50px;
    @include rwd-max-width(960px){
       padding: 30px 10px;
    }
  }
}
.loginBoxWord{
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 30px;
}
.labelWidth{
    min-width: 80px;
}
.width100{
  width: 100%;
}
.overflowHidden{
  overflow: hidden;
}
.modal .transformSelect{

}
  .outOfOrder {
    margin-bottom: 10px;
  }
// 縮小table
@media (max-width: 960px) {
  .outOfOrder{
    display: block;
  }
  .evaTabs .orderBy .transformSelect{
    width: 100%;
    margin:10px 0px;
  }
.btn-toolbar{
  margin-bottom: 10px;
}
  .tableFunBtn{
    display: flex;
    justify-content: center;
    .borderBtn{
      width: 80px;
      margin:12px ;
    }
  }
  .table-responsive[data-pattern="priority-columns"]{
    border:0px;
  }

  .table--dataTh tbody td span.orderResult {
        position: relative;
        
        left: 0;
        display: inline-block;
  }
  .sticky-table-header{
    display: none;
  }
  .heighten {
    height: auto;
  }

  .inputGroup__control--captcha .tableDiv>div:first-child {
    width: 50%;
  }

  /*---------- table ----------*/
  .table--dataTh {
    border: 0;
  }

  .table--dataTh thead {
    display: none;
  }

  .table--dataTh tbody {
    display: block;
  }

  .table--dataTh tbody tr {
    display: table;
    width: 100%;
    border: 1px solid #dadada;
    margin-bottom: 30px;
  }

  .table--dataTh tbody td {
    display: table-row;
    border-top: 1px solid #dadada;
  }

  .table--dataTh tbody td:first-child {
    border-top: 0;
   
  }

  .table--dataTh tbody td:before {
    content: attr(data-title);
    display: table-cell;
    background: #f9fbf7;
    color: #333;
    padding: 15px 0;
    width: 100px;
    border-right: 1px solid #dadada;
  }

  .table--dataTh tbody td span {
    display: table-cell;
    padding: 15px 5px;
    color: #606060;
  }
}

