.linkWhite{
  text-decoration: underline;
  color:#fff;
  &:hover{
    color:#fff;
  }
}
.linkGreen {
  text-decoration: underline;
  color: #00994e;

  &:hover {
    color: #00994e;
  }
}

.modal-content{
  border-radius: 20px;;
}
.evaTitle{
  border-bottom:1px solid #e1e0e1;
  color:#737373;
  position: relative;
  padding: 20px 0px 10px;
  font-size: 20px;
}
.closeIcon{
  cursor: pointer;
}
.close-x{
  position: absolute;
  width: 15px;
  height: 15px;
  right:15px;
  top:15px;
}

@media (min-width: 576px) {

.modal-dialog {
  max-width: 860px;
  margin: 1.75rem auto;

}
}
.evaActiveList{
    list-style-type: decimal;
    padding: 10px 30px;
    margin-left: 15px;
    text-align: left;
    text-align: justify;
}


// .modal.bottom.fade .modal-dialog {
//   bottom: -100px;
//   -webkit-transition: all 0.3s linear,
//    bottom 0.3s ease-out;
//   -moz-transition: all 0.3s linear,
//     bottom 0.3s ease-out;
//   -o-transition: all 0.3s linear,
//     bottom 0.3s ease-out;
//   transition: all 0.3s linear,
//     bottom 0.3s ease-out;
// }

.modal.bottom.fade.show .modal-dialog {
  bottom: 0px;
}
.recapcha{
  margin:0 10px;
}
@media(max-width:768px){
  .modal-dialog {
    margin:0px auto;
    top: 200px;
   
  }
}