.bg_white{
  background: url(../images/whiteBg.png);
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
}
.evaTabs{
  margin-top:40px;
  z-index: 2;
  position: relative;
  .nav-tabs{
    padding:0px 20px;
    border-bottom: 3px solid #00994e;
    .nav-item {
      width: 50%;
      text-align: center;
       a {
         color: #333;
       }
    }
  } 
  .tab-pane{
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
   
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active{
    background-color: #00994e;
    color:#fff;
    border-color: transparent;
  }
  .nav-tabs .nav-link{
    background-color: #e2e2e2;
   
  }
  .actionArea{
    float:none;
  }
}

// 表格物件
.formItem{
  width: 100%;
  padding: 3px 20px;
  position: relative;
}
.half{
  width:50%;
  flex-basis: 50%;
  padding:13px 0px ;
}