.wrap {
  max-width:1190px; 
  margin: 0 auto;
  padding:0px 30px;
}
.wrap_in{
  width:100%;

  position:relative;
  z-index:99;  
  display: flex;
  align-items: center;
  @include rwd-max-width(960px){
    display: block;
  }
}
.mainScreen {
  position: relative;
  width: 100%;
  margin: auto;
}
.evaGreenContainer{
  width: 100%;
  min-height:100vh;
  background:url(../images/bg_cover.jpg) #aacadf;
  background-position: center center;
  background-repeat: no-repeat ;
  background-size: cover;
  background-attachment: fixed;
  display: inline-block;
  position: relative;
}
.header {
  text-align:center; 
}
.header__logo {
  display: block;
  width: 220px;
  height: 40px;
  background: url(../images/logo.png) 0 0;
  background-size: 220px 40px;
  float: left;
  margin-top:30px;
  margin-left:50px;
}
.main{
   padding-top:150px;
   min-height:780px;
   position: relative; 
   width: 100%;
   display: inline-block;
   @include rwd-max-width(960px){
     padding-top:30px;
   }
}
.airplan_bg{
    width: 80%;
    margin-left: 5%;
    display: inline-block;
  @include rwd-max-width(960px){
    width:100%;
    margin-left: 0px;
  }
}
.lognin__area{
  max-width: 400px;
  text-align:center;
  position:relative;  
  width:400px;
     @include rwd-max-width(960px) {
        max-width: 100%;
        padding: 20px;
        width:100%;
     }

  .airplan{
    width:116px;
    height:32px;
    background:url(../images/airplan.png);
    background-size:116px 32px;
    background-position: top center;
    position:absolute; 
    top:0;
    left:50%;
    margin-left:-58px;  
  }
  .tit{
    width:100%;
    @extend %main_font;  
    font-size:22px;
    line-height:30px;
    font-weight:500; 
    position: relative;
    padding-top:35px;
    &:before{
      position: absolute; 
      content:" ";
      left:0;
      bottom:10px; 
      width:40px;
      height:1px;
      background:#fff;     
    }
    &:after{
      position:absolute; 
      content:" ";
      right:0;
      bottom:10px; 
      width:40px;
      height:1px;
      background:#fff;   
    }
  }
  .login__tit{
    @extend %main_font;
    font-size:50px;
    font-weight:600;
    line-height:55px;
    padding-bottom:15px;    
    @include rwd-max-width(960px){
      font-size: 40px;
    }
  }
  .tit_Group{
    @include r;
    width:100%; 
    text-align:left;
    margin:0 0 15px;
    label{
      line-height:30px;
      color:#fff;
      font-weight:600;   
    }  
    p{
      @extend %main_font;
      font-size:16px;
      padding-bottom:10px;
      display:block;
      width:100%;   
    }
    &.mt10{
      margin-top:10px; 
    }
    .inputGroup__control--three .transformSelect:first-of-type{
      padding:0 5px 0 0 ; 
    }
    .inputGroup__control--three .transformSelect:last-of-type{
      padding:0 0 0 5px ; 
    }
    .inputGroup__control--three input, .inputGroup__control--three .transformSelect {
      float:left;
      width:33.3%;
      padding:0 5px; 
    }
    .inputGroup{
      position: relative;
      display: table-cell;
      vertical-align: middle;
      display: block;
      input[type="text"]{
        width:100%;
      
        border-radius: 2px;
        border: solid 1px rgba(49, 49, 49, 0.2);
        font-size:16px;
        &::placeholder{
          color:#6d6d6d;
          font-size:15px; 
        }  
      }
    } 
  }

}
.cloud_in{
  width:100%;
  position: absolute;
  bottom: -5px;
  overflow:hidden;
  height:200px;
  .cloud-scroll {
    background: url(../images/clouds.png) repeat-x;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-size: cover;
    position: absolute;
    animation: 1000000s backgroundScroll infinite linear;
  } 
}
.cloud_in1 {
  width: 100%;
  position: absolute;
  bottom: 20%;
  overflow: hidden;
  height: 250px;

  .cloud-scroll {
    background: url(../images/cloud_1.png) repeat-x;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
    animation: 30s backgroundScroll_1 infinite linear;
    background-repeat: no-repeat;
  }
}
.cloud_in2 {
  width: 100%;
  position: absolute;
  bottom: 25%;
  overflow: hidden;
  height: 180px;

  .cloud-scroll {
    background: url(../images/cloud_2.png) repeat-x;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
    animation: 50s backgroundScroll_1 infinite linear;
    background-repeat: no-repeat;
    
  }
}
  .actionArea {
    float: left;
    width: 100%;
    text-align: center;
   margin-top: 10px;
   margin-bottom: 20px;

    a {
      margin: 0 10px;
      text-decoration: none;

      &.btn {
        display: inline-block;
        padding: 15px 0;
        width: 280px;
        text-align: center;
        border-radius: 32px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        margin: 0 10px;
        text-align: center;
        transition: #ff6000 350ms ease-in-out;
        position: relative;
        background: #ff6000;
        opacity: 0.8;
      }

      >span {
        color: #fff;
      }

      &:hover {
        background: #ff6000;
        opacity: 1;
      }
    }
  }
.footer_top{
  @include r;
  background:#fff; 
  .copyright{
    @include r;
    padding: 25px 40px 10px;
    .menu{
      @include r;
      a{
        position: relative;
        @include font(14px,20px,#000);
        margin-right: 20px;
        display: inline-block;
        text-decoration: none;
        &:hover{
          color: #00a94f;
          text-decoration:underline;
        }
        &:after{
          position: absolute;
          width: 20px;
          height: 13px;
          top: 0;
          right: -20px;
          margin-right: 0;
          margin-top: 0;
          content: "|";
          text-align: center;
        }
        &:last-child:after{
          position: absolute;
          width: 20px;
          height: 13px;
          top: 0;
          left: -20px;
          margin-left: 0;
          margin-top: 0;
          content: " ";
          text-align: center;
        }
      } 
    }
    .text{
      position: absolute;
      width: auto;
      height: 100%;
      top: 25px;
      right: 0;
      margin-right: 40px;
      margin-top: 0;
      height: calc(100% - 25px);
      a{
        @include font(14px,20px,#000);
        text-decoration:none;
        &:hover{
          color: #00a94f;
          text-decoration:underline;
        }
      }
     
    }
  } 
}
footer{
 @include r;
 border-top: 1px solid #e7e7e7;
 background: url(../images/footer_bg.png) #fff;
 background-repeat: no-repeat;
 background-position: bottom center;
 background-size: 100%;
 .des{
  padding: 15px 25px 0;
  position: relative;
  .b{
    @include font(20px,24px,#666666);
    padding-left: 12px;
    margin-bottom: 0px;
    padding-top: 0;
    text-align: left;
    @include r;
  }
  p{
    
    float: left;
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #666666;
    text-align: left;
    padding-top: 5px;
    margin:0; 
  }
 }  
}

@media screen and (max-width: 767px) {

  .header__logo {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width:180px;
    height:45px;
    background: url(../images/logo--mobile.png) 0 0;
    background-size:180px 45px;
    margin: 3px auto;
  }

  .header__goback {
    display: block;
  }


//   Hide items
  .mobileHide {
    display: none;
  }

  .mobileShow {
    display: initial;
  }
  footer {
    .des {
      .b {
      }
      p {
        padding: 0px;
        margin-bottom: 10px;;
      }
    }
  }
}
@media screen and (max-width: 400px) {

}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {

}
