
@media (max-width: 960px) {
  .footer{
    display: none;
    min-width: auto;
  }
  .mobileFooter .footer__link{
    position: relative;
  }
  .footer .footerGoTop{
    position: absolute;
    width:35px;
    height:35px;
    top:-7px;
  }
  main.cubinvest-l-main {
    margin-top: 30px;
  }
}
